#header_home {
  position: relative;
  width: 100%;
  height: 500px;
  overflow: hidden;
  text-align: center;
}

#header_home h3 {
  color: white;
}

#header_home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  background-repeat: initial;
  z-index: -1;
}

#header_home h1,
#buttons {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

#box1 {
  padding: 40px 20px;
  border-radius: 12px;
  max-width: 800px;
  margin: 40px auto;
  font-family: "Segoe UI", sans-serif;
  line-height: 1.4em;
  text-align: center;
}

#box1 h2 {
  color: black;
  margin-bottom: 20px;
  text-align: center;
}
#box1 p::first-line {
  font-weight: 600;
}

blockquote {
  margin: 40px 0;
  padding: 20px;
  font-family: monospace;
  font-size: 32px;
  line-height: 2em;
}

blockquote::before {
  content: "“";
  vertical-align: top;
  color: red;
}

blockquote::after {
  content: "”";
  vertical-align: bottom;
  color: red;
}