#header_home {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#header_home img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(60%);
  background-repeat: initial;
  z-index: 1;
}
#header_home h1,
#buttons {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
}

#header_home h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-top: 20vh;
  margin-bottom: 1.5rem;
  padding: 0 1rem;
}
#workout_plan {
  max-width: 600px;
  margin: 2rem auto 0 auto;
  color: black;
  padding: 1.5rem;
  border-radius: 1rem;
  z-index: 2;
  position: relative;
  font-size: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#workout_plan h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

#workout_plan p {
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}

#workout_plan ul {
  padding-left: 1.5rem;
  margin-bottom: 1rem;
}

#workout_plan li {
  margin-bottom: 0.5rem;
}
